<div class="container">
  <div class="row">
      <div class="col s7">
          <h2>All Bikes</h2>
        <table>
          <thead>
            <th>Bike</th>
            <th>Kms</th>
            <th>Description</th>
            <th>Delete</th>
          </thead>
          <tbody>
            <tr *ngFor="let station of stationsList">
              <td>{{station.station}}</td>
              <td>{{station.state}}</td>
              <td>{{station.description}}</td>
              <button class="btn right" [routerLink]="['/stations', station._id]">Details of a Station</button>
            </tr>
          </tbody>
        </table>
       </div>
      </div>