<div class="container">
  <div class="row">
      <div class="col s7">
          <h2>Station Detail of {{station.station}}</h2>
        <table>
          <thead>
            <th>Name</th>
            <th>Kms</th>
            <th>Description</th>
          </thead>
          <tbody>
            <tr *ngFor="let bike of station.bike">
              <td>{{bike.bike}}</td>
              <td>{{bike.kms}}</td>
              <td>{{bike.description}}</td>
              <a (click)=deleteBikeStation(bike._id)>
                <i class="material-icons">delete</i>
              </a>
            </tr>
          </tbody>
        </table>
       </div>
      </div>

<div class="container">
  <div class="row">
      <div class="col s7">
          <h2>Unassigned Bikes</h2>
        <table>
          <thead>
            <th>Name</th>
            <th>Kms</th>
            <th>Description</th>
          </thead>
          <tbody>
            <tr *ngFor="let bike of bikesList">
              <td>{{bike.bike}}</td>
              <td>{{bike.kms}}</td>
              <td>{{bike.description}}</td>
              <a (click)=putBikeStation(bike._id)>
                <i class="material-icons">add</i>
              </a>
            </tr>
          </tbody>
        </table>
       </div>
      

  <p style="color:red;">After deleting a bike, it is necessary to refresh </p>